{% extends "index.html" %}
{% block title %}{{ super() }} - Memberships{% endblock %}

{% block content %}

<body>
    
    
    <h1><i class="fas fa-cart-plus"></i></h1>
 <div class="container-fluid p-5">
        <div class="mb-5 text-center">
            <h5 class="text-primary text-uppercase">The Store</h5>
            <h1 class="display-3 text-uppercase mb-0">Order Your Memberships Online</h1>
        </div>
  <div class="tab-class">
  <div class="row">
    {% for m in memberships %}
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="bg-dark rounded text-center py-5 px-3">
          <img style="max-width: 180px" src="/static/images/{{ m.url }}" height="237dp"/>
          <h6 class="text-uppercase text-primary">{{ m.name}}</h6>
          <p class="text-uppercase text-secondary mb-0"> Cost ${{ m.price}} / Month</p>
            <a href="/cart/addMembership/{{ m.product_id }}" > Add to cart </a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
    
{##}
{#   <section>#}
{#    #}
{#    <div>#}
{#        <img src="/static/images/goldmember.png" alt="" height="237dp">#}
{#        <h6><span>Cost: 49.99$/Month</span></h6>#}
{#        <p>Gold Membership</p> <span></span>#}
{#        <button>Add to Cart</button>#}
{#    </div>#}
{#    <div>#}
{#        <img src="/static/images/silvermember.png" alt="" height="237dp">#}
{#        <h6><span>Cost: 39.99$/Month</span></h6>#}
{#        <p>Silver Membership</p>        <span></span>#}
{#        <button>Add to Cart</button>#}
{#    </div>#}
{##}
{#    <div>#}
{#        <img src="/static/images/bronzemember.png" alt="" height="237dp">#}
{#        <h6><span>Cost: 29.99$/Month</span></h6>#}
{#        <p>Bronze Membership</p>        <span></span>#}
{#        <button>Add to Cart</button>#}
{#    </div>#}
{##}
{#    #}
{#   </section>#}

   <div class="select"></div>


    <script src="../static/js/allmin.js"></script>
    <script src="../static/js/cart.js"></script>
 </div>
</body>
{% endblock %}